<!DOCTYPE html>
<html lang="en">
<head>
	<title>Magnetic - Stunning Responsive HTML5/CSS3 Photography Template</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website  template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>

	<header>
		<div class="logo">
			<a href="index.html"><img src="img/logo.png" title="Logo" alt="Logo"/></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav>
			<ul>
				<li><a href="index.html" class="selected">Les films</a></li>
				<li><a href="#">Actualités</a></li>
				<li><a href="#">Les cinémas</a></li>
				<li><a href="#">Le dispositif</a></li>
				<li><a href="contact.html">Ressources</a></li>
			</ul>
		</nav><!-- end navigation menu -->

		<div class="footer clearfix">
			<ul class="social clearfix">
				<li><a href="#" class="fb" data-title="Facebook"></a></li>
				<li><a href="#" class="google" data-title="Google +"></a></li>
				<li><a href="#" class="behance" data-title="Behance"></a></li>
				<!--<li><a href="#" class="twitter" data-title="Twitter"></a></li>
				<li><a href="#" class="dribble" data-title="Dribble"></a></li>-->
				<li><a href="#" class="rss" data-title="RSS"></a></li>
			</ul><!-- end social -->

			<div class="rights">
				<p>Copyright © 2014 magnetic.</p>
				<p>Template by <a href="">Pixelhint.com</a></p>
			</div><!-- end rights -->
		</div ><!-- end footer -->
	</header><!-- end header -->

	<section class="main clearfix">

		<section class="top">	
			<div class="wrapper content_header clearfix">
				<div class="work_nav">
							
					<ul class="btn clearfix">
						<li><a href="#" class="previous" data-title="Précédent"></a></li>
						<li><a href="index.html" class="grid" data-title="Tous les films"></a></li>
						<li><a href="#" class="next" data-title="Suivant"></a></li>
					</ul>							
					
				</div><!-- end work_nav -->
				<h1 class="title">Le Voyage de Chihiro, Réalisé par : MIYAZAKI Hayao</h1>
			</div>		
		</section><!-- end top -->

		<section class="wrapper">
			<div class="content">
				<p>disponible au prêt à la médiathèque de L’Atelier Canopé Hauts-de-Seine</p>

				<h2>Synopsis</h2>

				<p>Wadjda, douze ans, habite dans une banlieue de Riyad, capitale de l’Arabie Saoudite. Bien qu’elle grandisse dans un milieu conservateur, elle porte jeans et baskets, écoute du rock et rêve de s’acheter le vélo qui lui permettra de faire la course avec son ami Abdallah. Mais au royaume wahhabite, les bicyclettes sont réservées aux hommes.</p>

				<h2>À propos du réalisateur</h2>

				<p>Haifaa Al-Mansour. In : IMDb [en ligne]. Disponible sur : http://www.imdb.com/name/nm2223783/?ref_=ttfc_fc_dr1 (Consulté le 18/09/2015). 
Une fiche technique complète avec la filmographie de Haifaa Al-Mansour.</p>

				<p>vel tempus libero diam vel arcu. Etiam id tincidunt tortor. Nam auctor consequat quam, vel mattis dui laoreet a. Nunc condimentum iaculis tortor, id eleifend nulla mattis lobortis. Pellentesque semper blandit odio, id tempor lorem imperdiet eu. Ut sagittis sagittis consectetur ,Maecenas eget risus eros. Nunc venenatis ante a rutrum cursus.</p>

                <h2>Sites Internet incontournables</h2>
				
				<p>Dossiers pédagogiques - collège au cinéma - Wadjda de Haifaa Al-Mansour. In : CNC [en ligne]. Disponible sur : http://www.cnc.fr/web/fr/college-au-cinema1/-/ressources/6180860 (Consulté le 18/09/2015)</p>

                <h2>Bibliographie incontournable</h2>
                
                <p>GÉNUIT, Jean-Marc. Cahier de notes sur …"Wadjda". Paris : Les enfants de cinéma, 2015 (à paraître en septembre).</p>
                
                <h2>Fiche pédagogique</h2>
                
                <p>À venir</p>
                
			</div><!-- end content -->
		</section>
	</section><!-- end main -->
	
</body>
</html>