<!DOCTYPE html>
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<html>
<head>
    <f:section name="meta">
                <title>{title}</title>
    </f:section>
	<f:section name="stylesheets">
		<link rel="stylesheet" type="text/css" href="../../../Public/Styles/reset.css">
        <link rel="stylesheet" type="text/css" href="../../../Public/Styles/main.css">
	</f:section>
	<f:section name="scripts">
        <script type="text/javascript" src="../../../Public/JavaScript/jquery.js"></script>
        <script type="text/javascript" src="../../../Public/JavaScript/main.js"></script>
	</f:section>
</head>
<body>
    <header>
		<div class="logo">
			<a href="index.html"><img src="../../../Public/Images/logo.png" title="Magnetic" alt="Magnetic"/></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav>
			<ul>
				<li><a href="index.html" class="selected">Les films</a></li>
				<li><a href="/actualites.html">Actualités</a></li>
				<li><a href="#">Les cinémas</a></li>
				<li><a href="#">Le dispositif</a></li>
				<li><a href="contact.html">Ressources</a></li>
			</ul>
		</nav><!-- end navigation menu -->

		<div class="footer clearfix">
			<ul class="social clearfix">
				<li><a href="#" class="fb" data-title="Facebook"></a></li>
				<li><a href="#" class="google" data-title="Google +"></a></li>
				<li><a href="#" class="behance" data-title="Behance"></a></li>
				<!--<li><a href="#" class="twitter" data-title="Twitter"></a></li>
				<li><a href="#" class="dribble" data-title="Dribble"></a></li>-->
				<li><a href="#" class="rss" data-title="RSS"></a></li>
			</ul><!-- end social -->

			<div class="rights">
				<p>Copyright © 2016 Canopé 92</p>
				<p>contacter le <a href="">webmaster</a></p>
			</div><!-- end rights -->
		</div ><!-- end footer -->
	</header><!-- end header -->
    <section class="main clearfix">
        
            <nav class="menu">
                {parts.menu -> f:format.raw()}
            </nav>
            <nav class="breadcrumb">
                {parts.breadcrumb -> f:format.raw()}
            </nav>
            <div class="content">
                {content.main -> f:format.raw()}
            </div>
        
        <f:section name="bodyScripts">
            <!-- Put your scripts inclusions for the end of the body here, they will be included in your website by TypoScript -->
        </f:section>
    </section>
</body>
</html>
